[borg]
	pushDefault = locutus
	collective = emacsg
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:tarsius/auto-compile.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "dim-autoload"]
	path = lib/dim-autoload
	url = git@github.com:tarsius/dim-autoload.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "fill-column-indicator"]
	path = lib/fill-column-indicator
	url = git@github.com:alpaker/Fill-Column-Indicator.git
[submodule "finalize"]
	path = lib/finalize
	url = git@github.com:skeeto/elisp-finalize.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = git@github.com:tarsius/hl-todo.git
[submodule "macrostep"]
	path = lib/macrostep
	url = git@github.com:joddie/macrostep.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	info-path = Documentation
[submodule "magit-imerge"]
	path = lib/magit-imerge
	url = git@github.com:magit/magit-imerge.git
[submodule "magit-rockstar"]
	path = lib/magit-rockstar
	url = git@github.com:tarsius/magit-rockstar.git
[submodule "magit-tbdiff"]
	path = lib/magit-tbdiff
	url = git@github.com:magit/magit-tbdiff.git
[submodule "mode-line-debug"]
	path = lib/mode-line-debug
	url = git@github.com:tarsius/mode-line-debug.git
[submodule "morlock"]
	path = lib/morlock
	url = git@github.com:tarsius/morlock.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:tarsius/no-littering.git
[submodule "orgit"]
	path = lib/orgit
	url = git@github.com:magit/orgit.git
[submodule "orglink"]
	path = lib/orglink
	url = git@github.com:tarsius/orglink.git
[submodule "package-build"]
	path = lib/package-build
	url = git@github.com:melpa/package-build.git
[submodule "package-lint"]
	path = lib/package-lint
	url = git@github.com:purcell/package-lint.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:tarsius/packed.git
[submodule "paren-face"]
	path = lib/paren-face
	url = git@github.com:tarsius/paren-face.git
[submodule "rainbow-mode"]
	path = lib/rainbow-mode
	url = git@github.com:emacsmirror/rainbow-mode.git
[submodule "undo-tree"]
	path = lib/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
	remote = emacsg git@github.com:emacscollective/undo-tree.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
