[submodule "borg"]
	path = lib/borg
	url = git@gitlab.com:tarsius/borg.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
